:root {
  /* Make variables for things like fonts & colors, it can be helpful */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NavBar starts */
nav {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
  align-items: center;
}

.center {
  flex: 1;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

.navBrand {
  font-size: 2rem;
  text-transform: uppercase;

}
.bold{
  font-weight: bold;
}
.right {
  text-align: right;
}

nav button{
  padding: 0.5rem 1rem;
  margin: 0 0.25rem;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}
.sign-in{
  background: white;
  border-radius: 25px;
}
.sign-up{
  background: #be03ff;
  border-radius: 25px;
  color: white;
}
/* NavBar ends */
h1{
  font-size: 3rem;
}
.description{
  font-size: 1.5rem;
  font-weight: 400;
}
.my-container{
  height: 100vh;
  background: url('src/assets/gradBackground.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;;
}
.info{
  margin-top: 2rem;
  width: 50%;
  text-align: center;
  color: black;
  font-weight: 300;
}
button{
  margin-top: 2rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  background:#be03ff;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}